<h1>Maps</h1>

<script async defer
 src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV['google_map_API_key']%>&callback=initMap">
</script>


<!--マップ-->
<div id="map"></div>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>

<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      var latlng = new google.maps.LatLng(36.30, 139.5);
      //デザイン
      var styles = [
           {
            stylers: [
             { "saturation": -95 },
             { "lightness": -20 }
            ]
           }
          ];
      //↓マップの初期設定値を記述
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5, //初期のマップの倍率 １－１８までで指定 数字が大きくなるとズームアップ
          styles: styles,
          center: latlng //地図の中心の指定
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      //複数マーカー ここから
      <% @maps.each do |map| %>
      (function(){
        var contentString = "住所：<%= map.followerlocation %>"; 
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:{lat: <%= map.latitude %>, lng: <%= map.longitude %>},
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker, content);
        });
       })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>

<br>

<table>
  <thead>
    <tr>
      <th><%= t('view.followerlocation') %></th>
      <th><%= t('view.Latitude') %></th>
      <th><%= t('view.Longitude') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.followerlocation %></td>
        <td><%= map.latitude %></td>
        <td><%= map.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>
