<!DOCTYPE html>
<html>
  <head>
    <title>Followermap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <%if user_signed_in? %>
        <li><%=current_user.name%></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to '管理画面', admin_users_path %></li>
        <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
      <%else%>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <%end%>
      <li><%= link_to 'blog', blogs_path %></li>

    </ul>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
