<!DOCTYPE html>
<html>
  <head>
    <title>followermap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <ul>
      <%if user_signed_in? %>
        <li><%=current_user.name%></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
      <%else%>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <%end%>
      <li><%= link_to 'blog', blogs_path %></li>

      <%if current_user.admin == true %>
        <li><%= link_to '管理画面', admin_users_path %></li>
      <%end%>
    </ul>
  </header>  

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>

  </body>
</html>
